{% extends 'Halalan2022/base.html' %}
{% load static %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-6"><h1 class="display-3">Meet the Team</h1></div>
            <div class="col-2"></div>
        </div>

        <hr>

        <div class="row">
            <div class="col-4">
                <div class = "Murao"><img src="{% static 'images/noshow.jpg' %}" alt="" height="285" width="285"></div> 
            </div>
            <div class="col-8">
                <h1 class="display-6">Airenz Aaron Murao</h1>
                <h4 class="display-7">2 BS Management Information Systems</h4>

                "Hi, I'm Airenz Aaron Murao. I'm a 2nd year BS MIS student at Ateneo de Manila University. I graduated from Quezon City Science High School.
                My only choice for my college were UP or Ateneo and thankfully I passed ACET and I decided to study here since I am living near the campus.
                I love sports especially basketball and football and I am a varsity student when I was in high school but I am not that good in either sports, 
                I just love to watch and play basketball and football. I also watched K-drama and I am now addicted to KPOP. I also love to play video games and nowadays, 
                I am playing mobile games for my pasttime. Honestly, I don't know why I chose BS MIS since I chose Electrical Engineering in every school that I applied but
                now I really enjoy my course." 
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-4">
                <div class = "Pua"><img src="{% static 'images/Pua.jpg' %}" alt="" height="285" width="285"></div> 
            </div>
            <div class="col-8">
                <h1 class="display-6">Faustin Mikko Pua</h1>
                <h4 class="display-7">2 BS Management Information Systems</h4>

                "Hello Voters!! I am Faustin Pua, a developer of this site. This site is a part of my Finals project for Msys 22. A little about myself is that I graduated from Jubilee Christian Academy in 2020. I chose to go to Ateneo de Manila for my college it is because my favorite color is blue, and since Ateneo's UAAP team is a Blue Eagle, I enrolled in Ateneo. Also, I chose the course Management Information Systems it is because I have a love for technology and wanted to learn how it works and how to develop stuff for it. I didn't know that it would be a hard course but it is still managable."
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-4">
                <div class = "Tan"><img src="{% static 'images/Tan.jpg' %}" alt="" height="285" width="285"></div>    
            </div>
            <div class="col-8">
                <h1 class="display-6">Cheigh Kieghron Tan</h1>
                <h4 class="display-7">2 BS Management Information Systems</h4>

                "Hi! I'm Cheigh Kieghron S. Tan, also one of the people who developed this website. 
                I'm currently a sophomore at Ateneo de Manila University, taking Management Information Systems. 
                I'm passionate about the video game industry, computers, foods, and sports."
            </div>
        </div>

    </div>


{% endblock %}
